
/*Estilos Textos para los 3  ejemplos*/
.entrada{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*Estilos de Contenedor para ejemplos 1 y 2 */
.container, .container-fluid{
    height: 300px;
    background: rgb(143, 7, 255);
    border-radius: 10px;
}


/*Estilos de contenedor ejemplo 3*/
.container-sm, .container-md, .container-lg, .container-xl{
    font-size: 25px;
    height: 100px;
    background: rgb(143, 7, 255);
    border-radius: 10px;
}

/* Dispositivos extra chicos*/
@media (max-width: 576px){
    /*Ejemplo 1*/
    .container::after{
        content: "Extra Small";
    }
    /*Ejemplo 2*/
    .container-fluid::before{
        content: "Extra Small";
    }
}

/* Dispositivos chicos*/
@media (min-width: 576px){
    /*Ejemplo 1*/
    .container::after{
        content: "Small";
    }
    /*Ejemplo 2*/
    .container-fluid::before{
        content: "Small";
    }
}

/* Dispositivos medianos */
@media (min-width: 768px){
    /*Ejemplo 1*/
    .container::after{
        content: "Medium";
    }
    /*Ejemplo 2*/
    .container-fluid::before{
        content: "Medium";
    }
}

/* Dispositivos grandes*/
@media (min-width: 992px){
    /*Ejemplo 1*/
    .container::after{
        content: "Large";
    }
    /*Ejemplo 2*/
    .container-fluid::before{
        content: "Large";
    }
}

/* Dispositivos extra grandes*/
@media (min-width: 1200px){
    /*Ejemplo 1*/
    .container::after{
        content: "Extra Large";
    }
    /*Ejemplo 2*/
    .container-fluid::before{
        content: "Extra Large";
    }
}






